body {
    margin: 0;
}

.icon {
    height: auto;
    width: 30px;
    display: inline;
    margin: 10px;
}

.header {
    display: flex;
    margin: 2rem 1rem;
}

.aboutImg {
    display: inline;
    margin: 2rem 0px 2rem 1rem;
    height: auto;
    max-height: 500px;
    max-width: 1000px;
    min-width: 100px;
    flex: 1;

}

.about {
    display: inline;
    flex: 2;
    margin: 2rem 1rem 2rem 0rem;
    padding-left: 1rem;
    padding-top: 4rem;
}

.aboutheader {
    font-size: 1.5rem;
}

.aboutlink {
    display: flex;
    justify-content: end;
    gap: 5px;
}

@media (max-width: 600px) {
    .aboutImg {
        margin-bottom: 0rem;
    }
    .about {
        display: block;
        margin-top: 0rem;
    }
    .header {
        flex-direction: column;
    }
    h2 {
        color: red;
    }
    .footer {
        flex-direction: column;
    }
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    align-items: center;
}

.card {
    height: 220px;
    width: 200px;
    border: 1px solid red;
    margin: 1rem;
}

.phone {
    display: inline;
    margin-left: 5px;
}

.email {
    display: inline;
    margin-left: 5px;
}

.phoneCont {
    display: block;
    display: flex;
    align-items: center;
    
}

.emailCont {
    display: block;
    display: flex;
    align-items: center;
}

.footerImg {
    display: inline;
}

.contact {
    display: inline;
    margin: 2rem;
}

.footer {
    display: flex;
    background-color: #A3CAE9;
    margin: auto
}

.footerImg {
    margin: 2rem;
}